* {
    margin: 0;
    padding: 0;
}


/* cyrillic-ext */


/*
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
*/

body {
    font-family: 'Open Sans';
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url(../img/apples.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 58px 87px 58px 75px;
    height: 51vw;
}

.logo {
    font-size: 1.2vw;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.logo a:active,
.logo a {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
    font-size: 1vw;
    margin: 0 0vw 0 5vw;
}

.menu li a {
    cursor: pointer;
}

.menu {
    display: flex;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 32vw;
    margin-top: 15vw;
}

.main .text h1 {
    font-size: 4.1vw;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: lighter;
}

.main .text h1 span {
    font-size: 7.2vw;
    letter-spacing: 8px;
    margin: 0 2vw 0 1vw;
}

.main .text p {
    font-size: 1.1vw;
}

.main input {
    width: 18.3vw;
    height: 4vw;
    background-color: rgba(0, 0, 0, 0.37);
    border: 4px solid white;
    color: white;
    font-size: 1.1vw;
    letter-spacing: 1px;
    font-weight: 100;
    margin: 0 0 3.5vw;
    cursor: pointer;
    outline: none;
}

.main div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    text-align: center;
}

.box1,
.box2,
.box3,
.box4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box1 {
    padding: 8.5vw 87px 10vw 75px;
    color: #343638;
    justify-content: space-between;
}

.box1 h3 {
    font-size: 1.8vw;
    font-weight: lighter;
    width: 46%;
}

.box1 h3 span {
    font-weight: bold;
}

.box1 p {
    font-size: 1.12vw;
    width: 48.5%;
    padding: 0.5vw 0;
}

.box2 {
    flex-direction: column;
    padding: 11vw 75px 5vw 75px;
    align-items: initial;
    text-align: center;
    background-color: #f3f3f3;
}

.box2 h2 {
    font-size: 1.9vw;
    font-weight: lighter;
    margin: 0 0 6.7vw;
}

.box2 h2 span {
    font-weight: bold;
}

.box2 .block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 1.2vw;
}

.box2 .image {
    width: 81vw;
    height: 23vw;
    background-image: url(../img/sample.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.image span,
.image2 span {
    border: 2px solid white;
    padding: 2px 7px;
    background-color: rgba(0, 0, 0, 0.37);
    font-size: 16px;
    width: fit-content;
    cursor: pointer;
}

.image p, .image2 p {
    width: 100%!important;
    text-align: left;
    box-sizing: border-box;
    padding: 0!important;
}

.shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 25px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.box2 .image2 {
    width: 81vw;
    height: 23vw;
    background-image: url(../img/sample3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.box2 p {
    font-size: 1.15vw;
    width: 49%;
    padding: 0 1vw;
}


.box3 {
    background-color: white;
    height: 12vw;
    margin-top: 2vw;
    padding: 0 !important;
}

.box3 input[type='text'] {
    background-color: #f3f3f3;
    border: 1px solid black;
    width: 54vw;
    height: 4.5vw;
    margin-top: 1.1vw;
    font-size: 1.5vw;
    outline: none;
    padding: 0 0 0 20px;
}

.box3 input[type='text']:active {
    outline: none;
}

.box3 h3 {
    font-size: 1.8vw;
    font-weight: lighter;
    padding: 0 1.5vw 0 0;
}

.box3 h3 span {
    font-weight: bold;
    color: #343638;
}
.box3 div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 1.2vw;
}

.box3 input[type='button'] {
    letter-spacing: 1px;
    width: 8.2vw;
    height: 4.7vw;
    margin-top: 1.1vw;
    background-color: #343638;
    color: #F3F3F3;
    font-size: 1vw;
    font-weight: lighter;
    margin-left: -0.1vw;
    border: none;
    cursor: pointer;
    outline: none;
}

.box4 {
    padding: 7.5vw 71px 0vw 75px;
    color: #343638;
    align-items: inherit;
}

.box4 div {
    width: 25%;
    padding: 0 10px 0 0;
}

.box4 h3 {
    font-size: 1.35vw;
    margin: 0 0 1vw 0;
}

.box4 p,
.box4 a {
    font-size: 1.2vw;
    color: #A4A4A4;
}

.box4 a {
    cursor: pointer;
}

.box4 span {
    color: #F3F3F3;
}

.box4 input[type='button'] {
    letter-spacing: 1px;
    width: 7.2vw;
    height: 2.8vw;
    margin-top: 0.5vw;
    background-color: #343638;
    color: #F3F3F3;
    font-size: 1vw;
    font-weight: lighter;
    margin-left: -0.1vw;
    border: none;
    cursor: pointer;
    outline: none;
}

.box4 input[type='text'] {
    background-color: #f3f3f3;
    border: 1px solid black;
    width: 15vw;
    height: 2.6vw;
    margin-top: 0.5vw;
    text-align: center;
    font-size: 1.1vw;
    color: black;
    outline: none;
}

.send {
    display: flex;
    flex-direction: row;
    width: 100% !important;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7.5vw 71px 0vw 75px;
}

.footer {
    width: 100%;
    border-top: 2px solid #eeeded;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 0;
}

.footer p {
    color: #A4A4A4;
    font-size: 1.1vw;
}

.footer .menu li {
    font-size: 1vw;
    margin: 0 0vw 0 2vw;
}

@media all and (max-width: 1440px) {
    header {
        padding: 58px 55px 58px 50px;
    }
    .box1 {
        padding: 8.5vw 55px 10vw 50px;
    }
    .box2 {
        padding: 11vw 55px 5vw 50px;
    }
    .box4 {
        padding: 7.5vw 55px 0vw 50px;
    }
    footer {
        padding: 7.5vw 55px 0vw 50px;
    }
    .box3 input[type='text'] {
    width: 50vw;
}
}

@media all and (max-width: 1440px) {
    .box2 img {
        width: 55vw;
        height: 23vw;
    }
}